<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regalo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="/backend/js/alerts.js"></script>
</head>

<body>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand text-white mx-auto">✨ TE AMO ✨</a>
        </div>
    </nav>
    <main class="mt-5">
        <section>
            <div class="container text-center bg-light bg-opacity-75">
                <div class="row align-items-start">
                    <div class="col border border-dark">
                        No entiendo como pase de ser alguien a quien le costaba expresarse, a ser la persona que esta
                        escribiendo esto
                        pero esto solo es una muestra de lo que has cambiado mi vida, aun recuerdo como esa noche de
                        hace cinco meses, llegue
                        a mi casa y me dormi con una sonrisa que no se me quitaba al saber que esa mujer tan increible
                        me permitio ser su novio,
                        pasaba el tiempo y solo se fortalecia ese amor que estaba sintiendo, como entre mas te conocia
                        mas me enamoraba, te convertiste en la estrella
                        que me ayuda a salir de mi oscuridad y como cada dia mas te convertias en mi universo.
                    </div>
                    <div class="col border border-dark border-end-0 border-start-0  ">
                        <video src="../static/video/universe.mp4" controls width="260" height="306"></video>
                    </div>
                    <div class="col border border-dark">
                        Que estes en mi vida me genera seguridad y felicidad, algo que nunca nadie me habia ofreciodo y
                        me encanta que seas la primera,
                        contigo he vivido tantas cosas por primera vez y me alegra que haya pasado asi, eres un tatuaje
                        sin tinta en mi vida,
                        me marcaste de tantas formas, hiciste que me diera cuenta de mis errores como persona y me das
                        la motivacion para mejorar,
                        cada dia quiero ser mejor que el anterior, quiero brindarte siempre la mejor version de mi, no
                        soy perfecto y en serio me encantaria serlo,
                        pero lo que si soy es alguien que te respeta y te ama con toda su alma.
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-3">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col">
                        
                    </div>
                    <div class="col">
                        <div class="accordion" id="pregunta">
                            <div class="accordion-item w-100 ">
                                <h2 class="accordion-header">
                                    <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">Pregunta</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#pregunta">
                                    <div class="accordion-body">
                                        <p class="text-center">¿Quieres una hamburguesa o unas salchipapas?</p>
                                        <div class="d-inline-flex ms-4">
                                            <button class="btn btn-outline-info me-2" onclick="hamburguesa()">Hamburguesa</button>
                                            <button class="btn btn-outline-info" onclick="papas()">Salchipapas</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

</html>